body {
    background-image: none;
    background: white;
}

.whole-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: white;
}

.login-right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: Poppins;
    width: 50%;
    padding-right: 100px;
}

.login-left-side {
    width: 50%;
    overflow: hidden;
}

.login-illu {
    display: flex;
    position: relative;
    color: #043665;
    z-index: 99;
    height: 100vh;
}

.papper-rip {
    z-index: 0;
    background-color: transparent;
}

.top-text-login {
    position: absolute;
    z-index: 99;
    margin-top: 10%;
    margin-left: 20px;
}

.form-group {
    font-family: PoppinsLight;
    font-size: larger;
    color: #043665;
}

.cross-icon {
    z-index: 1;
    position: absolute;
    top: 30px;
    right: 40px;
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    cursor: pointer;
    outline: 0 !important;
    border: 0;
    background: transparent;
}

.cross-icon:hover {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.text-below-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 15px;
    margin-bottom: 20px;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.button-div .btn {
    font-family: PoppinsBold;
    background: #043665;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    box-shadow: 0px 121.283px 97.0262px rgba(4, 54, 101, 0.27), 0px 50.6691px 40.5352px rgba(4, 54, 101, 0.194091), 0px 27.0901px 21.6721px rgba(4, 54, 101, 0.160949), 0px 15.1865px 12.1492px rgba(4, 54, 101, 0.135), 0px 8.06543px 6.45234px rgba(4, 54, 101, 0.109051), 0px 3.35621px 2.68496px rgba(4, 54, 101, 0.0759093);
    border-radius: 15px;
}

.alternative-button {
    border: none;
    outline: none !important;
    font-size: 30px;
    color: #043665;
    margin: 20px;
    background: transparent;
}

.form-control {
    border-radius: 15px;
}

.form-control:focus {
    border-color: #FF8117;
    box-shadow: 0 1px 1px #FFD262, 0 0 8px #FF8117
}