html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background: #043665;
    color: #333333;
    margin-top: 5rem;
    overflow-x: hidden;
    background-image: url(../photos/topography.svg);
}


::-webkit-scrollbar {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

@font-face {
    font-family: GrandHotel;
    src: url('../fonts/GrandHotel-Regular.ttf');
}
@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: PoppinsBold;
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: PoppinsLight;
    src: url('../fonts/Poppins/Poppins-Light.ttf');
}

.r-profile {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    image-rendering: crisp-edges;
}

.alert-container {
    position: relative;
}

.alert {
    position: absolute;
    z-index: 100;
}

a {
    outline: none;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar-container ul {
    margin: 0;
    padding: 0;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}

.navbar-nav ul li {
    display: inline-block;
    font-size: 16px;
}

.navbar-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: color 0.5s;
}

.navbar-nav ul li .underline {
    height: 2px;
    background-color: transparent;
    width: 0%;
    transition: width 0.2s, background-color 0.5s;
    margin: -10px auto;
}

.navbar-nav ul li.active-link .underline {
    width: 100%;
    background-color: white;
}

.navbar-nav ul li:hover .underline {
    background-color: white;
    width: 100%;
}

.navbar-nav ul li:active a {
    transition: none;
    color: white
}

.navbar-nav ul li:active .underline {
    transition: none;
    background-color:w
}

.site-header {
    margin-bottom: -10px;
}

.site-header .navbar-nav .nav-link {
    color: white;
    margin-right: 5px;
}
 footer li:hover {
    color: #000;
 }

.site-header .navbar-nav .nav-link.active{
    color: #FFD262;
}

.login-button{
    background-color: #ffffff;
    border-radius: 40px;
    padding: 5px 25px;
    text-align: center;
    color: black;
    font-weight: 600;
}

.login-button:hover {
    text-decoration: none;
}

.navbar-nav{
    align-items: center;
    font-family: Poppins;
    font-size: 15px;
}


.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}


.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.container {
    margin: 0;
    padding: 0;
}

.bg-steel {
    background-color: #043665;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.08),
            0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0575083),
            0px 22.3363px 17.869px rgba(0, 0, 0, 0.0476886),
            0px 12.5216px 10.0172px rgba(0, 0, 0, 0.04),
            0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0323114),
            0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0224916);
}

.top-line {
    z-index: 99;
}

.line {
    position: absolute;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.interview {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.11)) 
    drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.079074)) 
    drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0655718)) 
    drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.055)) 
    drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0444282)) 
    drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.030926));
    border-radius: 0px 294px 294px 0px;
    background: white;
    overflow: hidden;
    margin-right: 15%;
    align-items: center;
    min-height: 100px;
    max-height: 600px;
    margin-bottom: 20%;
}

.interview-text{
    margin: 5%;
    width: 50%;
    height: 50%;
}

.interview-main-text{
    font-family: PoppinsBold;
    color: #043665;
    font-size: 4vh;
    text-transform: capitalize;
}

.interview-sub-text {
    margin-top: 5%;
    font-size: 3vh;
    margin-bottom: 5%;
}

.learn-button {
    font-family: Poppins;
    font-size: 2vh;
    background: #043665;
    border-radius: 40px;
    color: white;
    box-shadow: 0px 146px 80px rgba(0, 0, 0, 0.16), 
    0px 60.9953px 33.4221px rgba(0, 0, 0, 0.115017), 
    0px 32.611px 17.869px rgba(0, 0, 0, 0.0953772), 
    0px 18.2815px 10.0172px rgba(0, 0, 0, 0.08), 
    0px 9.70915px 5.32008px rgba(0, 0, 0, 0.0646228), 
    0px 4.04019px 2.21381px rgba(0, 0, 0, 0.0449833);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10%;
    width: 200px;
}

.pic-interview{
    content: url('../photos/Interview.png');
    float: left;
    min-height: 450px;
    max-width: 100%;
}

.interview-right {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.11)) drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.079074)) drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0655718)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.055)) drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0444282)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.030926));
    border-radius: 294px 0px 0px 294px;
    background: white;
    overflow: hidden;
    margin-left: 15%;
    align-items: center;
    min-height: 100px;
    max-height: 600px;
    margin-bottom: 20%;
}

.pic-resumes {
    display: flex;
    flex-grow: 1;
    content: url('../photos/Resume.png');
    max-width: 50%;
}

.pic-company {
    content: url('../photos/company.png');
    float: left;
    min-height: 450px;
    max-width: 50%;
}

.footer {
    padding-top: 30px;
    position: absolute;
    font-family: Poppins;
    background: #043665;
    color: white;
    box-shadow: 0px -65px 326px rgba(0, 0, 0, 0.12), 
    0px -27.1554px 136.195px rgba(0, 0, 0, 0.0862625), 
    0px -14.5186px 72.8164px rgba(0, 0, 0, 0.0715329), 
    0px -8.13901px 40.8203px rgba(0, 0, 0, 0.06), 
    0px -4.32257px 21.6793px rgba(0, 0, 0, 0.0484671), 
    0px -1.79872px 9.02126px rgba(0, 0, 0, 0.0337375);
    width: 100%;
}

.nav-link {
    color: white;
}


.trixie-font {
    font-family: GrandHotel;
    text-align: center;
    font-size: 40px;
}

.third-section {
    display: flex;
    padding: 70px;
    
}

.link-dark {
    color: white;
    margin: 25px;
    font-size: 25px;
}

.link-dark:hover {
    color: #FF8117;
}

.f-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.11)) 
    drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.079074)) 
    drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0655718)) 
    drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.055)) 
    drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0444282)) 
    drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.030926));
    margin-bottom: 10%;
}

.f-block {
    margin: 100px;
}

.f1-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.11)) drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.079074)) drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0655718)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.055)) drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0444282)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.030926));
    margin-bottom: 10%;
}

.f1-block {
    margin: 80px;
}

.rectangle {
    position: absolute;
    z-index: 1;
    width: 203px;
    height: 249px;
    background: #FF8117;
    border-radius: 23px 23px 23px 70px;
    transform: rotate(7.98deg);
    margin-bottom: 50px;
}

.rectangle-shadow {
    z-index: 0;
    width: 203px;
    height: 249px;
    background: #FFD262;
    border-radius: 23px 23px 58px 23px;
    transform: rotate(-7.98deg);
}

.text-rectangle {
    margin-top: 40px;
    font-family: PoppinsBold;
    font-size: x-large;
    color: white;
    text-align: center;
}

.rectangle-rec {
    z-index: 1;
    position: absolute;
    width: 280.74px;
    height: 282.55px;
    background: #FF8117;
    border-radius: 33.3035px 40.0608px 40.0608px 106.909px;
    transform: rotate(-180deg);
    margin-left: 30px;
}

.rectangle-shadow-rec {
    z-index: 0;
    width: 280.74px;
    height: 282.55px;
    background: #FFD262;
    border-radius: 33.3035px 40.0608px 40.0608px 106.909px;
    transform: rotate(90deg);
    margin-top: 30px;
}

.text-rectangle-block {
    margin-top: 40px;
    font-family: PoppinsBold;
    font-size: x-large;
    color: white;
    text-align: center;
    transform: rotate(180deg);
}

p {
    /*margin-bottom: 0p;*/
}

.svg-container {
    position: relative;
    z-index: -1;
}