.resume-pic-and-text {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body{
    background-image: none;
}

#parallax {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../photos/emoji-group.png), url(../photos/topography.svg);
    background-position: center;
    background-size: 60%;
}

.resume-text-and-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    margin: 180px;
}

.heading-text {
    font-family: PoppinsBold;
    font-size: 70px;
    animation: drop-in 1s ease 200ms backwards;
}

.sub-text {
    font-family: PoppinsLight;
    font-size: 30px;
    animation: drop-in 1200ms ease 500ms backwards;
}

.resume-button {
    font-family: PoppinsBold;
    font-size: 20px;
    padding: 15px 30px;
    background: #FFFFFF;
    border-radius: 40px;
    animation: drop-in 1400ms ease 800ms backwards;
    outline: 0 !important;
    border: 0;
    margin: 20px;
    margin-bottom: 80px;
    box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.079074), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0655718), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.055), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0444282), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.030926);
}

/* animation class and keyframes */
.overflow-hidden {
    overflow: hidden;
}

.overflow-hidden-1 {
    overflow: hidden;
}

@keyframes drop-in {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translate(0px);
    }
}

.section-2 {
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 200px;
    text-align: center;
    color: #FFFFFF;
}

.heading-text-2 {
    font-family: PoppinsBold;
    font-size: 50px;
    animation: drop-in 1s ease 200ms backwards;
}

.sub-text-2 {
    margin-top: 50px;
    font-family: Poppins;
    font-size: 25px;
    animation: drop-in 1200ms ease 500ms backwards;
}

.mymodel {
    background-color: #043665;
    color: white;
    border-radius: 20px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
}

/*To remove white line in modal body*/

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

.ways ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0px;
    list-style: none;
    overflow: hidden;
}

.ways li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    border-radius: 30px;
    width: 30%;
}

.ways li:first-child {
    border-right: 0;
}

.ways li:last-child {
    border-left: 0;
}

.ways li.active {
    border: 2px solid #1AA1E5;
    color: #66676C;
}

.ways li.active::before {
    content: '\f00c';
    color: #1AA1E5;
}

.ways li:not(.active) {
    padding: 16px 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

select {
    align-self: center;
    width: 80%;
    height: 50px;
    border-radius: 10px;
    font-family: Poppins;
    outline: none;
    margin: 10px;
}


.select::-ms-expand {
    display: none;
}

.select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

option {
    margin: 50px;
}

.select-option {
    background-color: #F5F7FA;
    color: #999;
    font-size: 15px;
    position: relative;
    cursor: pointer;
}

.select-option::before {
    content: '\f107';
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 9px;
    margin-left: 30px;
    font-size: 20px;
}

.select-option div:not(.option) {
    padding: 10px 10px;
    border: 1px solid #ddd;
}

.select-option div:last-child,
.select-option .head {
    border-bottom: 1px solid #ddd;
}

.select-option .option {
    display: none;
}

.select-option .option div {
    text-transform: capitalize;
}

.select-option.active .option {
    display: block;
    position: absolute;
    width: 100%;
    background-color: #F5F7FA;
    box-sizing: border-box;
    padding: 0;
    margin-top: -1px;
    z-index: 2;
    border: none;
    outline: none;
}

.select-option .option div {
    border-bottom: 0;
}

.file-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-upload {
    border: none;
    background: #043665;
    outline: none !important;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    color: white;
}

input[type="file"] {
    display: none;
}

label {
    display: block;
    position: relative;
    background-color: #FF8117;
    color: #ffffff;
    font-size: 1.12em;
    font-weight: 500;
    text-align: center;
    width: 18.75em;
    padding: 1.12em 0;
    margin: auto;
    border-radius: 0.31em;
    cursor: pointer;
}

ul {
    list-style-type: none;
    list-style: none;
}

.container {
    background-color: #ffffff;
    width: 90%;
    max-width: 34.37em;
    position: relative;
    margin: 3em;
    margin-top: 10px;
    padding: 2.25em 1.25em;
    border-radius: 0.43em;
    box-shadow: 0 1.25em 2.18em rgb(1, 28, 71, 0.3);
}

.container li {
    font-weight: 500;
    background-color: #FFD262;
    color: black;
    margin-left: -40px;
    padding: 1em 1em;
    border-radius: 0.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}