{% extends "layout.html" %}
{% block styles %}
<link rel='stylesheet' href='https://adminlte.io/themes/AdminLTE/bower_components/Ionicons/css/ionicons.min.css'>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/edit_user.css') }}">
{% endblock %}
{% block content %}
<button class="cross-icon" onclick="history.back()">
    <i id="mic-icon" class="bi bi-arrow-left" style="font-size: 40px; color: #FF8117;"></i>
</button>
<section class="whole-login">
    <div class="login-right-side">
        <p style="font-family: PoppinsBold; font-size: 50px; text-align: center; color: #043665; margin-bottom: 50px;">
            ADD JOB</p>
        <div>
            <form method="post" action="/add_job" enctype="multipart/form-data">
                <div class="form-floating mb-4">
                    <input name="position" type="text" class="form-control" id="floatingName" placeholder="Software Engineer" required>
                    <label for="floatingInput">Position</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="file" class="form-control" id="floatingUsername" name="desctription" rows="5" cols="33" placeholder="Enter here..." required>
                    <label for="floatingInput">Description</label>
                </div>
                <div class="form-floating mb-4">
                    <input name="type" type="text" class="form-control" id="floatingEmail"
                        placeholder="name@gamil.com" required>
                    <label for="floatingInput">Type</label>
                </div>
                <div class="form-floating mb-4">
                    <input name="date" type="date" class="form-control" id="floatingPassword" value=""
                        placeholder="" required>
                    <label for="floatingPassword">Date</label>
                </div>
                <div class="form-floating mb-4">
                    <input name="resume_score" type="number" class="form-control" id="floatingPassword" placeholder="76" required>
                    <label for="floatingPassword">Resume Score(in 100)</label>
                </div>
                <div class="form-floating mb-4">
                    <input name="salary" step="0.01" type="number" class="form-control" id="floatingPasswordConfirm"
                        placeholder="5.5" required>
                    <label for="floatingPasswordConfirm">Salary(in LPA)</label>
                </div>
                <div class="form-floating mb-4">
                    <input name="last_date" type="date" class="form-control" id="floatingPasswordConfirm" placeholder="5.5" required>
                    <label for="floatingPasswordConfirm">Last Date</label>
                </div>
                <div class="form-floating mb-4">
                    <input name="location" type="text" class="form-control" id="floatingPasswordConfirm" placeholder="Kochi" required>
                    <label for="floatingPasswordConfirm">Location</label>
                </div>
                <div class="form-floating mb-4">
                    <input name="interview_score" type="number" class="form-control" id="floatingPasswordConfirm" placeholder="5.5" required>
                    <label for="floatingPasswordConfirm">Interview Score(in 7)</label>
                </div>
                <!-- Submit button -->
                <div class="button-div">
                    <button type="submit" class="btn btn-primary btn-block mb-4">Next</button>
                </div>
            </form>
        </div>
    </div>
</section>
<script type="text/javascript" src="../static/js/edit_user.js"></script>
{% endblock content %}