{% extends "layout.html" %}
{% set active_page = "dashboard_company" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/user_dashboard.css') }}">
{% endblock %}
{% block content %}
<div class="user_dash">
    <h1
        style="text-align: center; letter-spacing: 10px; font-size: 40px; color: white; font-family: PoppinsBold; margin-top: 8%; margin-bottom: 3%;">
        DASHBOARD
    </h1>
    <div class="user_info">
        <div class="user">
            <div style="margin-left: 30px; margin-top:50px; line-height: 20px; color: black; font-family: PoppinsBold;">
                <p style="font-size: xx-large;">
                    Hello,
                </p>
                <p style="font-size: x-large;">
                    {{ company['name'] }}
                </p>
            </div>
            <div class="circle">
                <div class="single-chart">
                    <svg viewBox="0 0 36 36" class="circular-chart orange">
                        <path class="circle-bg"
                            d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                        <path class="circle" stroke-dasharray="9, 100"
                            d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                    </svg>
                </div>
                <div class="profile">
                    <img style="border-radius: 50%;
                            object-fit: cover;
                            object-position: 25% 25%;  
                            overflow:hidden;
                            width: 80px; height: 80px;" src="data:image/png;base64, {{ img }}" alt="">
                </div>
            </div>
            <div style="margin-top: 5%; line-height: 20px; font-family: PoppinsBold;">
                <p style="font-weight: 600; color: #043665; text-align: center; font-size: larger;">
                    {{ company['name'] }}
                </p>
                <p style="font-weight: 600; color: #909090; text-align: center; font-size: large;">
                    Company
                </p>
            </div>
            <div style="margin-left: 50px; margin-top: 60px; line-height: 30px; font-family: PoppinsBold;">
                <a href="#">
                    <p style="font-weight: 600; color: #909090; font-size: large;">Overview</p>
                </a>
                <p style="font-weight: 600; color: #909090; font-size: large;">
                    Calendar
                </p>
                <p style="font-weight: 600; color: #909090; font-size: large;">
                    Projects
                </p>
                <a href="/edit_company_profile">
                    <p style="font-weight: 600; color: #909090; font-size: large;">Edit Profile</p>
                </a>
                <a href="/logout">
                    <p style="font-weight: 600; color: red; font-size: large;">Logout</p>
                </a>
            </div>
        </div>
        <div class="user_details">
            <div class="user_scores">
                <div class="interview_details">
                    <a href="/job_lists">
                        <div class="details_container">
                            <img class="icons_user_scores" src="static\photos\dash_icon_1.png">
                            <div class="text_inside_block">
                                <p class="main_heading">{{ job_lists }}</p>
                                <p class="sub_heading">Job Listings</p>
                            </div>
                        </div>
                    </a>
                    <a href="/add_job">
                        <div class="details_container">
                            <img class="icons_user_scores" src="static\photos\dash_icon_2.png">
                            <div class="text_inside_block">
                                <p class="main_heading">Add Jobs</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: center;">
                <p class="heading_resumes_interviews">
                    Last 3 Job Added
                </p>
                <div class="performance">
                    {% if jobs %}
                    {% for job in jobs %}
                    <div class="top_one">
                        <div class="icon_name">
                            <img width="30px" height="30px" src="static\photos\png-apple-logo-9713.png">
                            <p class="name_per">{{ job['position'] }}</p>
                        </div>
                        <div class="single-chart-1">
                            <svg viewBox="0 0 36 36" class="circular-chart orange">
                                <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                <path class="circle" stroke-dasharray="8, 100"
                                    d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                <text x="18" y="20.35" class="percentage"></text>
                            </svg>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div>
                        No Jobs Listed
                    </div>
                    {% endif %}
                <!-- <p class="heading_resumes_interviews">
                    Last 3 Interview Performance
                </p>
                <div class="performance">

                </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}