{% extends "layout.html" %}
{% set active_page = "interview_list" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/interview.css') }}">
{% endblock %}
{% block content %}
<div class="wrapper">
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content mymodel">
                <div class="modal-header">
                    <h4 style="color: #043665; text-align: center; margin: 0 auto; margin-top: 20px;" class="modal-title">
                        Kindly note the following
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <ul>
                            <li>You should have a system with a working webcam and a microphone.</li>
                            <li>You should use headphones.</li>
                            <li>The minimum internet bandwidth required at your end is 5 Mbps.</li>
                            <li>This is an online proctored assessment, your movements and PC activity is monitored remotely. Please do not use the phone, take help from others to answer the assessment.</li>
                            <li>Break/Bio break are not allowed during the exam, so please ensure you are present for the whole duration of the exam without any disruption.</li>
                            <li>The audio and video will also be captured during the exam.</li>
                            <li>You should not be seen often looking away or down from the screen.</li>
                            <li>Do not keep any mobile or other assistive device on your desk or near you.</li>
                            <li>Make sure your light source comes from behind your computer and your background is not distracting.</li>
                            <li>Be confident, smile, make eye contact and actively listen to your interviewer throughout.</li>
                            <li>If the text is not showing click to off the mic and then on it again.</li>
                            <li><b>By clicking the below button you accept all the above mentioned conditions.</b></li>
                        </ul>
                        <div class="interview-button">
                            <button id="accept" class="model-button">
                                Start Interview
                            </button>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    <div class="title-interview">
        <p style="font-family: PoppinsBold; color: #043665; font-size: 40px;">{{job['company_name']}} {{job['position']}} Interview</p>
        <div class="rec-date">
            <p id="t_date" style="margin-right: 20px;">30 May 2022</p>
            <p><i class="bi bi-record2" style="font-size: 17px; color: #F1414F;"></i>Recording 26:32</p>
        </div>
    </div>
    <div class="interview-container">
        <div class="vedio-and-buttons">
            <div class="video-interface">
                <div class="container" style="height: 100%; width: 100%; position: absolute; display: flex; flex-direction: column; overflow:hidden ; background: #000; z-index: 0;">
                    <video id="video" height="100%" width="100%" autoplay muted style=" z-index: 0; flex-grow: 1; display: flex; object-fit: cover;"></video>
                </div>
                <main id="visualizer" style="position: absolute; z-index: 99;" >
                </main>
            </div>
            <div class="interview-buttons">
                <div class="meet-icons">
                    <button id="camaraoff" class="rounded-buttons">
                        <i id="video-off" class="bi bi-camera-video-off-fill" style="font-size: 30px;"></i>
                    </button>
                    <button onclick="cheack()" id="mic-button" class="rounded-buttons">
                        <i id="mic-icon" class="bi bi-mic-mute-fill" style="font-size: 30px;"></i>
                    </button>
                    <input id="start-meeting" name="stop" type="submit" value="Start Meeting"
                        style="outline: none; border: none; font-family: PoppinsBold; color: white; background: #043665; border-radius: 50px; text-align: center; padding: 20px; font-size: 20px; max-width: fit-content;" />
                    <div class="rounded-buttons">
                        <i class="bi bi-display-fill" style="font-size: 30px;"></i>
                    </div>
                    <div class="rounded-buttons">
                        <i class="bi bi-badge-cc-fill" style="font-size: 30px;"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="message-interface">
            <div class="top-texts">
                <p style="font-family: PoppinsBold; color: #043665; font-size: 20px;">Questions and Answers</p>
                <p style="font-family: PoppinsLight; color: #818A98; font-size: 15px;">You can chat here answer of questions during the meeting and they will be stored after the meeting.</p>
            </div>
            <div id="chatbox" style="overflow: scroll;
                                    display: flex;
                                    flex-direction: column;
                                    flex-grow: 1;
                                    margin-bottom: -17px;
                                    scroll-behavior: smooth;
                                    overscroll-behavior: contain;">
                <h5 id="chat-timestamp" style=" font-family: Poppins; color: #043665; font-size: medium; text-align: center;"></h5>
                <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
            </div>
            <div id="chat-bar-bottom">
                <p></p>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript">
    var questions = '{{ question|tojson }}'
    var job_id = '{{ job_id|tojson }}'
    var round = '{{ title|tojson }}'
</script>
<script type="text/javascript" src="../static/js/streaming.js"></script>
<script type="text/javascript" src="../static/js/chat.js"></script>

{% endblock content %}