{% extends "layout.html" %}
{% set active_page = "interview_list" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/interview_list.css') }}">
{% endblock %}
{% block content %}
<div>
    For Today
</div>
<div class="ag-format-container">
    <div class="ag-courses_box">
        <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                    UI/Web&amp;Graph design for teenagers 11-17&#160;years old
                </div>

                <!-- <div class="ag-courses-item_date-box">
                    Start:
                    <span class="ag-courses-item_date">
                        04.11.2022
                    </span>
                </div> -->
                <div class="ag-courses-item_date-box">
                    Time:
                    <span class="ag-courses-item_date">
                        10am to 12pm
                    </span>
                </div>
                <div class="ag-courses-item_date-box">
                    Company:
                    <span class="ag-courses-item_date">
                        Qburst
                    </span>
                </div>
            </a>
        </div>
    </div>
</div>
<div>
    For Today
</div>
{% endblock content %}