{% extends "layout.html" %}
{% set active_page = "resume" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/resume.css') }}">
{% endblock %}
{% block content %}

<div class="wrapper">
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content mymodel">
                <div class="modal-header">
                    <h4 style="color: white; text-align: center; margin: 0 auto; margin-top: 20px;" class="modal-title">Choose Your CV And Category</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form action="/resume" id="upload-file" method="post" enctype="multipart/form-data">
                            <section>
                                <select name="company" required="">
                                    <option value="" disabled="" selected="" class="placeholder">Select a Company</option>
                                    <option value="google">Google</option>
                                    <option value="meta">Meta</option>
                                    <option value="adobe">Adobe</option>
                                    <option value="uber">Uber</option>
                                </select>
                                <select name="job" required="">
                                    <option value="" disabled="" selected="" class="placeholder">Select a Job</option>
                                    <option value="python-developer">Python Developer</option>
                                    <option value="php-developer">Php Developer</option>
                                    <option value="web-developer">Web Developer</option>
                                    <option value="fullstack-developer">Fullstack Developer</option>
                                </select>
                            </section>
                            <label for="files">
                                <i style="font-size: 22px; text-align: center;" class="bi bi-cloud-arrow-up-fill"></i>
                                &nbsp; Choose Files To Upload
                            </label>
                            <input id="files" type="file" name="file" accept=".doc,.docx" required="">
                            <div id="num-of-files">No Files Choosen</div>
                            <ul id="files-list"></ul>
                            <input class="file-upload" type="submit" value="Upload">
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div id="parallax" class="resume-pic-and-text">
        <div class="resume-text-and-button">
            <p class="heading-text">Find the job that is perfect for <font color="#FF8117">YOU</font></p>
            <div class="overflow-hidden">
                <p class="sub-text">Our free AI-powered resume checker scores your resume on key criteria recruiters and hiring managers
                    look for.</p>
            </div>
            <div class="overflow-hidden-1">
                <button id="resume-screening" class="resume-button" data-toggle="modal" data-target="#myModal">Resume Screeing</button>
            </div>
        </div>
        <div class="section-2">
            <div class="overflow-hidden">
                <p class="heading-text-2">The most advanced resume checker, powered by AI</p>
                <p class="sub-text-2">
                    Score My Resume goes beyond basic spell checking and uses leading Artificial Intelligence technology to grade
                    your
                    resume on 20+ resume checks that recruiters and hiring managers pay attention to. Specifically, the platform
                    analyzes
                    your resume's impact by evaluating the strength of your word choice, and also checks your resume's style and
                    brevity.
                </p>
                <p class="sub-text-2">
                    Similarly, it also scores each of the bullet points on your resume and checks for key elements such as
                    inconsistencies,
                    length, word choice, filler words, keywords and buzzwords.
                </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../static/js/resume.js"></script>
{% endblock content %}