{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/search.css') }}">
{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="heading">
        <p>FIND YOUR DREAM <font style="color: #FF8117">JOB</font> HERE</p>
    </div>
    <div class="search-input">
        <form>
            <div class="input-group">
                <input type="text" id="search" placeholder="Search..." autocomplete="off">
                <label for="search">
                    <i class="bi bi-search"></i>
                </label>
            </div>
            <div class="suggestion-list hidden">
            </div>
        </form>
    </div>
    <div id="apps">
        <div class="app">
            IT
        </div>
    
        <div class="app">
            Marketing, Media & Design Jobs
        </div>
    
        <div class="app">
            UI/UX
        </div>
    
        <div class="app">
            Project & Program Management
        </div>
    
        <div class="app">
            Human Resources & Legal Jobs
        </div>
    
        <div class="app">
            Operations & General Management Jobs
        </div>
    
        <div class="app">
            Health Care
        </div>
    
        <div class="app">
            Sales & Business Development Jobs
        </div>
    
        <div class="app">
            Accounting & Finance
        </div>
    </div>
</div>
<script type="text/javascript" src="static/js/search.js"></script>
{% endblock content %}