{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/resume.css') }}">
{% endblock %}
{% block content %}
<div class="wrapper">
    <div id="parallax" class="resume-pic-and-text">
        <div class="resume-text-and-button">
            <p class="heading-text">Find the job that is perfect for <font color="#FF8117">YOU</font></p>
            <div class="overflow-hidden">
                <p class="sub-text">Our free AI-powered resume checker scores your resume on key criteria recruiters and hiring managers
                    look for.</p>
            </div>
            <div class="overflow-hidden-1">
                <button id="resume-screening" class="resume-button">Resume Screeing</button>
            </div>
        </div>
        <div class="section-2">
            <div class="overflow-hidden">
                <p class="heading-text-2">The most advanced resume checker, powered by AI</p>
                <p class="sub-text-2">
                    Score My Resume goes beyond basic spell checking and uses leading Artificial Intelligence technology to grade
                    your
                    resume on 20+ resume checks that recruiters and hiring managers pay attention to. Specifically, the platform
                    analyzes
                    your resume's impact by evaluating the strength of your word choice, and also checks your resume's style and
                    brevity.
                </p>
                <p class="sub-text-2">
                    Similarly, it also scores each of the bullet points on your resume and checks for key elements such as
                    inconsistencies,
                    length, word choice, filler words, keywords and buzzwords.
                </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="static/js/resume.js"></script>
{% endblock content %}